#formulario {
    padding: 20px   30px   40px   10px;
  }

#salto{
    padding:20px;
}

#salto-titulo{
  padding:5px;
}

.error {
  border-color: red;
  border-width: 2px ;
}

.label-total{
  justify-content: end;
  text-align: right;
}

.label-date{
  width: 120px;
}

.pagePrint {
  font-size: 25px;
  zoom: 0.4;
  display: none;

  /* position: absolute;
  top: 30%;
  left: 25%; 
  width: 45%;
  transform: translate(-50%, -50%); */
}

@media print {
  .pagePrint {
    display: block;
  }

  #formulario {
    display: none;
  }

  /* @page{
    size: landscape;
  } */
}

#mi-div {
  width:80%;
}

#mi-imagen {
  width: 100%;
  height: auto;
}

thead tr th { 
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
}