<div id="formulario" class="calendar">
    <div class="calendar-header">
      <button class="btn btn-primary" (click)="previousMonth()">Anterior</button>
      <h2>{{ nombresMeses[selectedDate.getMonth()] }} {{ selectedDate.getFullYear() }}</h2>
      <button class="btn btn-primary" (click)="nextMonth()">Siguiente</button>
    </div>
    <table>
      <thead>
        <tr>
          <th *ngFor="let day of nombresDias">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of weeks">
          <td *ngFor="let day of week">
            <div class="day">
              <p>{{ day.getDate() }}</p>
              <ul>
                <li *ngFor="let contract of getContractsForDay(day)">
                    <div class="recuadro">
                        <div class="contract">{{ contract.codContract }}</div>
                        <div class="contract">{{ contract.customer.name }}</div>
                    </div>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
