#formulario {
    padding: 20px   30px   40px   10px;
  }
  /* Estilos para el calendario */
.calendar {
    width: 100%;
    /*max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto; /* Centra el calendario horizontalmente */
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc; /* Líneas divisorias de celdas */
  }
  
  .day {
    position: relative;
  }
  
  /* Estilos para las líneas divisorias verticales */
  td:not(:last-child) {
    border-right: none;
  }
  
  /* Estilos para las líneas divisorias horizontales */
  tr:not(:last-child) td {
    border-bottom: none;
  }
  
  .contract {
    list-style: none;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    margin-bottom: 5px; /* Espacio entre los contratos */
  }

  .recuadro {
    border: 1px solid #000; /* Borde del recuadro */
    padding: 10px; /* Espacio alrededor del contenido dentro del recuadro */
    margin: 10px; /* Espacio entre cada recuadro */
    width: 100%; /* Ancho del recuadro, ajusta según tus necesidades */
    height: 100%; /* Altura del recuadro, ajusta según tus necesidades */
    display: inline-block; /* Para que los recuadros aparezcan uno al lado del otro */
  }
  