<div id="formulario">
  <div class="calendar-header">
    <button class="btn btn-primary" (click)="calcularbefore()">Anterior</button>
    <button class="btn btn-primary" (click)="exportToExcel()">Exportar a Excel</button>
    <button class="btn btn-primary" (click)="calcularNext()">Siguiente</button>
  </div>
  <div id="salto"></div>
  <div class="vertical-container">
    <table #table>
      <tr>
        <th width="5%">Fecha</th>
        <th width="10%">Boton</th>
        <!-- <th width="10%">Orden</th> -->
        <th width="5%">Código de Contrato</th>
        <th width="15%">Usuario</th>
        <th width="5%">Horario</th>
        <th width="5%">Mobilidad</th>
        <th width="10%">Distrito</th>
        <th width="60%">Direccion</th>
        <th width="10%">Estado</th>
      </tr>
      <ng-container *ngFor="let day of week; let i = index">
        <tr>
          <td [attr.rowspan]="getContractsForDay(day).length + 3 + getContractsStoreForDay(day).length + getContractsPikupDateStoreForDay(day).length  + getContractsPikupDateForDay(day).length">
            {{ nombresDias[i] }} {{ day | date: 'd' }} de {{ nombresMeses[day.getMonth()] }} de {{ day.getFullYear() }}
          </td>
        </tr>
        <tr>
          <td style="background-color: rgb(72, 182, 241);">Entrega</td>
          <div>
            <button class="boton" (click)="onOptionChangeOrder(getContractsForDay(day));onOptionChangeOrderPickup(getContractsPikupDateForDay(day))">Guardar Orden</button>
          </div>
        </tr>
        <tr *ngFor="let contract of getContractsForDay(day); let i = index" [class.yellow-background]="contract.isSelected">
          <td>
            <button class="boton" (click)="moveRowUp(day,contract)">Subir</button>
            <button class="boton" (click)="moveRowDown(day,contract)">Bajar</button>
            <input type="text" [(ngModel)]="contract.order" [value]=" i + 1" [hidden]="true">
          </td>
          <!-- <td>{{ i + 1 }}</td> -->
          <td>{{ contract.codContract }}</td>
          <td>{{ contract.customer.name }}</td>
          <td><input type="time" [(ngModel)]="contract.hourIni" (keyup.enter)="saveHour(contract._id,contract.hourIni)">
            <input type="time" [(ngModel)]="contract.hourFin" (keyup.enter)="saveHourFin(contract._id,contract.hourFin)"></td>
          <!-- <td>{{ contract.hourIni }}-{{ contract.hourFin }}</td> -->
          <td>
            <select [(ngModel)]="contract.mobility" (change)="onOptionChangeMobility(contract._id,contract.mobility)" >
              <option value="ROJO">ROJO</option>
              <option value="AZUL">AZUL</option>
              <option value="EDUARDO">EDUARDO</option>
            </select>
          </td>
          <td>{{ contract.district }}</td>
          <td>{{ contract.address }}</td>
          <td><input type="checkbox" [(ngModel)]="contract.isSelected" (change)="onOptionChange(contract._id,contract.isSelected)">Entregado</td>
        </tr>
        <tr *ngFor="let contract of getContractsStoreForDay(day); let i = index" [class.yellow-background]="contract.isSelected">
          <td>
            <!-- <button class="boton" (click)="moveRowUpPickup(day,contract)">Subir</button>
            <button class="boton" (click)="moveRowDownPickup(day,contract)">Bajar</button>
            <input type="number" [(ngModel)]="contract.orderPickup" [value]="i + 1" [hidden]="true"> -->
          </td>
          <!-- <td>{{ i + 1 }}</td> -->
          <td>{{ contract.codContract }}</td>
          <td>{{ contract.customer.name }}</td>
          <td><input type="time" [(ngModel)]="contract.hourIni" (keyup.enter)="saveHour(contract._id,contract.hourIni)">
            <input type="time" [(ngModel)]="contract.hourFin" (keyup.enter)="saveHourFin(contract._id,contract.hourFin)"></td>
          <!-- <td>{{ contract.hourIni }}-{{ contract.hourFin }}</td> -->
          <td>
            <!-- <select [(ngModel)]="contract.mobilityPickup" (change)="onOptionChangeMobilityPickup(contract._id,contract.mobilityPickup)" >
              <option value="ROJO">ROJO</option>
              <option value="AZUL">AZUL</option>
              <option value="EDUARDO">EDUARDO</option>
            </select> -->
          </td>
          <td>{{ contract.district }}</td>
          <td>{{ contract.address }}</td>
          <td><input type="checkbox" [(ngModel)]="contract.isSelected" (change)="onOptionChange(contract._id,contract.isSelected)">Entregado</td>
        </tr>
        <tr>
          <td style="background-color: rgb(69, 77, 230);">Recojo</td>
        </tr>
        <tr *ngFor="let contract of getContractsPikupDateForDay(day); let i = index" [class.yellow-background]="contract.isSelectedPickup">
          <td>
            <button class="boton" (click)="moveRowUpPickup(day,contract)">Subir</button>
            <button class="boton" (click)="moveRowDownPickup(day,contract)">Bajar</button>
            <input type="number" [(ngModel)]="contract.orderPickup" [value]="i + 1" [hidden]="true">
          </td>
          <!-- <td>{{ i + 1 }}</td> -->
          <td>{{ contract.codContract }}</td>
          <td>{{ contract.customer.name }}</td>
          <td><input type="time" [(ngModel)]="contract.hourIniPickup" (keyup.enter)="saveHourPickup(contract._id,contract.hourIniPickup)">
            <input type="time" [(ngModel)]="contract.hourFinPickup" (keyup.enter)="saveHourFinPickup(contract._id,contract.hourFinPickup)"></td>
          <td>
            <select [(ngModel)]="contract.mobilityPickup" (change)="onOptionChangeMobilityPickup(contract._id,contract.mobilityPickup)" >
              <option value="ROJO">ROJO</option>
              <option value="AZUL">AZUL</option>
              <option value="EDUARDO">EDUARDO</option>
            </select>
          </td>
          <td>{{ contract.district }}</td>
          <td>{{ contract.address }}</td>
          <td><input type="checkbox" [(ngModel)]="contract.isSelectedPickup" (change)="onOptionChangePickup(contract._id,contract.isSelectedPickup)">Recojo</td>
        </tr>
        <tr *ngFor="let contract of getContractsPikupDateStoreForDay(day); let i = index" [class.yellow-background]="contract.isSelectedPickup">
          <td>
            <!-- <button class="boton" (click)="moveRowUpPickup(day,contract)">Subir</button>
            <button class="boton" (click)="moveRowDownPickup(day,contract)">Bajar</button>
            <input type="number" [(ngModel)]="contract.orderPickup" [value]="i + 1" [hidden]="true"> -->
          </td>
          <!-- <td>{{ i + 1 }}</td> -->
          <td>{{ contract.codContract }}</td>
          <td>{{ contract.customer.name }}</td>
          <td><input type="time" [(ngModel)]="contract.hourIniPickup" (keyup.enter)="saveHourPickup(contract._id,contract.hourIniPickup)">
            <input type="time" [(ngModel)]="contract.hourFinPickup" (keyup.enter)="saveHourFinPickup(contract._id,contract.hourFinPickup)"></td>
          <td>
            <!-- <select [(ngModel)]="contract.mobilityPickup" (change)="onOptionChangeMobilityPickup(contract._id,contract.mobilityPickup)" >
              <option value="ROJO">ROJO</option>
              <option value="AZUL">AZUL</option>
              <option value="EDUARDO">EDUARDO</option>
            </select> -->
          </td>
          <td>{{ contract.district }}</td>
          <td>{{ contract.address }}</td>
          <td><input type="checkbox" [(ngModel)]="contract.isSelectedPickup" (change)="onOptionChangePickup(contract._id,contract.isSelectedPickup)">Recojo</td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>