/* calendar-styles.css */
#formulario {
    padding: 20px   30px   40px   10px;
  }
/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* calendar-styles.css */

/* ... otros estilos ... */

/* Estilo para separar los contratos */
.contract-row {
    border-bottom: 1px solid #ccc; /* Línea que divide cada contrato */
    margin-bottom: 10px; /* Margen inferior para separar visualmente los contratos */
  }
  
  .contract-data {
    display: flex;
    flex-direction: column;
  }
  
  .contract-data-item {
    margin-bottom: 5px;
  }
  ul {
    border-bottom: 1px solid #ccc; /* Línea que divide las listas */
    margin-bottom: 10px; /* Margen inferior para separar visualmente las listas */
    padding-bottom: 10px; /* Espacio inferior adicional para mejorar la separación visual */
  }

/* Estilos para las celdas de contrato */
.contract-cell {
    border-bottom: 1px solid #ccc; /* Línea que divide los contratos */
  }
  
  /* Estilos para las celdas de DNI y comentario */
  .dni-cell,
  .comment-cell {
    border-bottom: 1px solid #ccc; /* Línea que divide los DNI y comentarios */
  }
  
  .contract {
    list-style: none;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    margin-bottom: 5px; /* Espacio entre los contratos */
  }
  
  
  /* calendario.component.css */
.contract-number {
    font-weight: bold; /* Puedes aplicar estilos adicionales si lo deseas */
    margin-bottom: 5px; /* Espacio entre el número de contrato y el nombre */
  }

  .yellow-background {
    background-color: yellow;
  }

  #salto{
    padding:10px;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
