#formulario {
    padding: 20px   30px   40px   10px;
  }

#formularioListado {
    padding: 20px   30px   40px   10px;
  }

#salto{
    padding:20px;
}

thead tr th { 
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
}

.table-responsive { 
  height:200px;
  overflow:scroll;
}