<div id="formulario" *ngIf="condicion ; else otraPlantilla"> 
  
  <div class="row" id="salto" >
    <a>Agregar Mobiliario</a>
  </div>

  <div class="row" id="salto" >
    <div class="col-lg-4">
      <div class="input-group">
        <label class="input-group-text" for="description" id="nombreA">Descripcion</label>
        <input type="text" class="form-control" placeholder="Descripcion"  [(ngModel)]="description" name="descripcion" required="required">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <label class="input-group-text" for="color" id="nombreA">Color</label>
        <input type="text" class="form-control" placeholder="Color" [(ngModel)]="color" name="color" required="required">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <label class="input-group-text" for="design" id="nombreA">Diseño</label>
        <input type="tel" class="form-control" placeholder="Diseño" [(ngModel)]="design" name="diseno" required="required">
      </div>
    </div>
  </div>

  <div class="row" id="salto" >
    <div class="col-lg-4">
      <div class="input-group">
        <label class="input-group-text" for="large" id="nombreA">Largo</label>
        <input type="number" class="form-control" placeholder="Largo" [(ngModel)]="large" name="largo" required="required">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <label class="input-group-text" for="high" id="nombreA">Alto</label>
        <input type="number" class="form-control" placeholder="Alto" [(ngModel)]="high" name="alto" required="required">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <label class="input-group-text" for="bottom" id="nombreA">Fondo</label>
        <input type="number" class="form-control" placeholder="Fondo" [(ngModel)]="bottom" name="fondo" required="required">
      </div>
    </div>
  </div>

  <div class="row" id="salto">
    <div class="col-lg-4">
      <div class="input-group">
        <label class="input-group-text" for="width" id="nombreA">Ancho</label>
        <input type="number" class="form-control" placeholder="Ancho" [(ngModel)]="width" name="width" required="required">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <label class="input-group-text" for="stock" id="nombreA">Stock</label>
        <input type="number" class="form-control" placeholder="Stock" [(ngModel)]="stock" name="stock" required="required">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <label class="input-group-text" for="diameter" id="nombreA">Diametro</label>
        <input type="number" class="form-control" placeholder="Diametro" [(ngModel)]="diameter" name="diametro" required="required">
      </div>
    </div>
  </div>

  <div class="row" id="salto">
    <div class="col-lg-4">
      <div class="input-group">
        <label class="input-group-text" for="price" id="nombreA">Precio s/</label>
        <input type="number" class="form-control" placeholder="Precio" [(ngModel)]="price" name="precio" required="required">
      </div>
    </div>
    <!-- 👇 NUEVO: Almacén -->
    <div class="col-lg-4">
      <div class="input-group">
        <label class="input-group-text" for="warehouse" id="nombreA">Almacén</label>
        <select
          id="warehouse"
          class="form-control"
          [(ngModel)]="warehouse"
          name="warehouse"
          required="required">
          <option [ngValue]="1">Almacén 1</option>
          <option [ngValue]="2">Almacén 2</option>
        </select>
      </div>
    </div>
  </div>

  <form [formGroup]="form">
    <div class="row" id="salto">
      <div class="col-lg-12">
        <h4>Partes</h4>
      </div>
      <div class="col-lg-10">
      </div>
      <div class="col-lg-2 d-grid gap-2 mb-3">
        <button type="button" (click)="onAddItem('ejemplo')" class="btn btn-primary">Agregar Parte</button>
      </div>

      <div class="col-lg-12">
        <table id="dt_basic" class="table table-striped table-bordered table-hover" >
          <thead>
            <tr>
              <th>#</th>
              <th width="40%">Parte</th>
              <th width="20%">cantidad</th>
              <th style="text-align:center;">Eliminar</th>
            </tr>
          </thead>
          <tbody class="table-group-divider" formArrayName="items">
            <tr *ngIf="arrayAccessory.controls.length == 0">
              <td colspan="8" style="text-align: center">No Existen Registros</td>
            </tr>
            <tr *ngFor="let item of arrayAccessory.controls; let i = index;" [formGroupName]="i">
              <td>{{ i + 1 }}</td>
              <td>
                <input class="form-control" type="text" formControlName="description" value="{{ item.get('description')?.value }}">
              </td>
              <td>
                <input class="form-control" type="number" formControlName="amount" value="{{ item.get('amount')?.value }}">
              </td>
              <td style="text-align: center;">
                <button class='btn btn-md btn-default' title="Eliminar Registro" (click)="onDeleteItem(i)"><i
                    class='fa-solid fa-trash'>X</i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>

  <div class="row" id="salto">
    <div class="col-lg-3">
      <button type="submit" (click)="onSubmit()" class="btn btn-primary" *ngIf="mostrarBotones">Agregar</button>
      <button type="submit" (click)="onUpdate()" class="btn btn-primary" *ngIf="!mostrarBotones">Actualizar</button>
      <button type="submit" (click)="onSubmitExit()" class="btn btn-danger">Volver</button>
    </div>
  </div>
</div>

<ng-template #otraPlantilla>
  <div class="row" id="salto" >
    <form (ngSubmit)="onSubmitAdd()">
      <div class="row" id="salto">
        <button type="submit" class="btn btn-primary">Agregar Mobiliario</button>
      </div>
    </form>
    <button type="submit" (click)="exportToExcel()" class="btn btn-md" >Descargar Mobiliarios</button>
  </div>

  <div id="formularioListado"> 
    <div class="row" id="salto" >
      <table>
        <thead sticky>
          <tr>
            <th>Eliminar</th>
            <th>Seleccionar</th>
            <th>Descripcion</th>
            <th>Color</th>
            <th>Diseño</th>
            <th>Largo</th>
            <th>Profundidad</th>
            <th>Alto</th>
            <th>Ancho</th>
            <th>Diametro</th>
            <th>Stock</th>
            <th>Precio</th>
            <!-- 👇 NUEVO -->
            <th>Almacén</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of accesorys">
            <td><button type="button" class="btn btn-danger" (click)="open(mymodal,item._id)">Eliminar</button></td>
            <td><button type="button" class="btn btn-primary" (click)="findAccesoryById(item._id)">seleccionar</button></td>
            <td>{{ item.description }}</td>
            <td>{{ item.color }}</td>
            <td>{{ item.design }}</td>
            <td>{{ item.large }}</td>
            <td>{{ item.bottom }}</td>
            <td>{{ item.high }}</td>
            <td>{{ item.width }}</td>
            <td>{{ item.diameter }}</td>
            <td>{{ item.stock }}</td>
            <td>{{ item.price }}</td>
            <!-- 👇 NUEVO: muestra almacén 1 o 2 -->
            <td>{{ item.warehouse === 1 ? 'Almacén 1' : 'Almacén 2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminar Mobiliario</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    Desea Eliminar un Mobiliario?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success-" (click)="deleteAccesosry();modal.close('Save click')">SI</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">NO</button>
  </div>
</ng-template>
