<div id="formulario" *ngIf="condicion ; else otraPlantilla"> 
  <div class="row" id="salto" >
    <a>Agregar Clientes</a>
  </div>
  <div class="row" id="salto" >
    <div class="col-lg-4">
      <div class="input-group">
        <label class="input-group-text" for="nombreApellido" id="nombreA">Nom. y Ap.</label>
        <input type="text" class="form-control" [(ngModel)]="name" id="nombreApellido" name="name" placeholder="Nombre y Apellido">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <label class="input-group-text" for="documentNumber" id="nombreA">DNI/RUC/CE</label>
        <input type="text" class="form-control" [(ngModel)]="documentNumber" maxlength="11" name="documentNumber" placeholder="DNI/RUC/CE">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <label class="input-group-text" for="phone" id="nombreA">Celular</label>
        <input type="tel" class="form-control" [(ngModel)]="phone" name="phone" placeholder="Celular">
      </div>
    </div>
  </div>
  <div class="row" id="salto">
    <div class="col-lg-12">
      <div class="input-group">
        <label class="input-group-text" for="address" id="nombreA">Direccion</label>
        <input type="text" class="form-control" [(ngModel)]="address" name="address" placeholder="Direccion">
      </div>
    </div>
  </div>
  <div class="row" id="salto">
    <div class="col-lg-3">
      <button type="submit" (click)="onSubmit()" class="btn btn-primary" *ngIf="mostrarBotones">Agregar</button>
      <button type="submit" (click)="updateCustomer()" class="btn btn-primary" *ngIf="!mostrarBotones">Actualizar</button>
      <button type="submit" (click)="onSubmitExit()" class="btn btn-danger">Volver</button>
  </div>
  </div>
</div>

<ng-template #otraPlantilla>
  <div id="formularioListado"> 
    <div class="row" id="salto" >
      <table>
        <thead>
          <tr>
            <th>Seleccionar</th>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Direccion</th>
            <th>Telefono</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of customer">
            <td><button type="button" class="btn btn-primary" (click)="findCustomerById(item.documentNumber)">seleccionar Cliente</button></td>
            <td>{{ item.name }}</td>
            <td>{{ item.documentNumber }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.phone }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" id="salto" >
      <form >
        <div class="row" id="salto">
          <button type="submit"  (click)="onSubmitAdd()" class="btn btn-primary">Agregar Cliente</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>